[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
scikit-learn = "*"
numpy = "*"
nltk = "*"
requests = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
chromadb = "*"
pypdf = "*"
sentence-transformers = "*"
python-dotenv = "*"
langchain-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.13"
